#Data
B2HHH_MagnetDown.root
B2HHH_MagnetUp.root
Processed_Up
Processed_Down
Abstract.aux
Abstract.log
Abstract.out
Abstract.synctex.gz
Abstract.tex
AutoDict_Functions.cxx
AutoDict_Functions_cxx.d
AutoDict_Functions_cxx.so
AutoDict_Functions_cxx_ACLiC_dict_rdict.pcm
Dalitz.pdf
Dalitz2.pdf
Decay.pdf
Decay.png
Invariant_Mass_Fit.pdf
OptimalCut.pdf
Ordered_Dalitz.pdf
Probabilities.pdf
Schermata del 2023-03-06 15-50-50.png
Significance.pdf
e.pdf
invMass.pdf
local_asymmetry.pdf
processed_Down.root
processed_Up.root
withoutresonance.pdf
